<html>
    <head>
        <style>
            html *
            {
                color: #000;
                font-family: Arial, sans-serif;
            }
            h1 { text-align: center; }
            pre {
                font-family: 'Courier New', Courier, monospace;
            }

        </style>
    </head>
    <body>
        <h1>Borg backup on paper</h1>

        <p>
            <b>ssh key:</b> <br>
            <u>melt seed phrase:</u> {{ssh_key_melt}} <br>
            <u>keyfile:</u> <br>
            <img src="{{ssh_qrcode_image_path}}">
        </p>

        <p>
            <b>borg repo:</b> <br>
            <u>url:</u> {{borg_repo_url}} <br>
            <u>password:</u> {{borg_repo_password}} <br>
            <u>ssh fingerprint:</u> {{borg_repo_ssh_fingerprint}} <br>
            <u>ssh fingerprint randomart:</u> <br>
            <pre>{{borg_repo_ssh_fingerprint_randomart}}</pre>
        </p>
    </body>
</html>